// @import 'vars';
// @import 'mixins';

// .reset {
//     padding: 0;
//     margin: 0;
//     text-decoration: none;
//     color: #000;
// }

// body, p{
//     @extend .reset;
//     padding: 90px;
//     background-color: $bgColor;
// }

// body, p{
//     @include reset
// }

// .main{
//     background-color: $bgColor;
//     .child{
//         margin: 4px;
//         border: 2px solid $mainColor;

//         p{
//             @include addPadding(20px);
//             display: block;
            
//             @if $mainColor == #f00 {
//                 color: $mainColor;
//             } @else {
//                 background-color: $mainColor;
//             }
//         }
//     }
// }

// @for $val from 2 through 10 {
//     .font-size-#{$val} {
//         font-size: 10px + $val*3;
//     }
// }

.main p{
    background-color: #faa;
    padding: 10px;
}


.main > p {
    color: blue;
}

.child+p{
    border: 2px solid black;
}
